<!DOCTYPE html>
<html>
  <head>
    <title>Suicide, non-suicide Model</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <h1>Input text to be predicted:</h1>
    <form class="form" name="form" method="POST" style="text-align: center">
      <div class="row">
        <div class="col-9">
          <textarea
            rows="5"
            class="w-100 form"
            type="text"
            name="text"
            placeholder="Text"
            required
          ></textarea>
        </div>
        <div class="col-3">
          <button
            type="submit"
            class="btn w-100 h-100 btn-success form font-weight-bold"
            value="Submit"
            style="font-size: 70px"
          >
            Predict!
          </button>
        </div>
      </div>
    </form>
    <h2>This person has {{ output }} tendencies</h2>
  </body>
</html>
